<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhaohg.crimson">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_setting"></activity>
        <activity
            android:name=".tomato.HistoryActivity"
            android:label="@string/title_activity_history"></activity>
        <activity
            android:name=".setting.ChooseCalendarActivity"
            android:label="@string/title_activity_choose_calendar"></activity>
        <activity
            android:name=".goal.GoalsActivity"
            android:label="@string/title_activity_goals"></activity>
        <activity
            android:name=".goal.NewGoalActivity"
            android:label="@string/title_activity_new_goal"></activity>
        <activity
            android:name=".goal.GoalActivity"
            android:label="@string/title_activity_goal"></activity>
        <activity
            android:name=".setting.DebugModeActivity"
            android:label="@string/title_activity_debug_mode"></activity>
    </application>

</manifest>
